*{
  box-sizing: border-box;
}

/** Global Styles **/
body{
  margin: 2% 5%;
  padding: 0;
  background-color: #FEFDFB;
  color: #111111;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-size: 1.5em;

}
/** navegation **/
nav{


}
 nav ul{
   display: inline-block;
   list-style: none;
   padding: 0;
   width: 100%;
 }

nav li{
  text-align: center;
  width: 100%;
  font-size: 2em;
}

form{
  width: 90%;
  margin: 1em auto;
  text-align: left;
  border: 1px solid gray;
  padding: .25em;

}
form legend{
  text-align: center;
}
form input{
  margin: .5em auto;
  display: block;
  width: 100%;
  border: 1px solid gray;
}

form textarea{
  width: 100%;
  height: 5em;
  display: block;
  border: 1px solid gray;
}

form button{
  margin: .25em auto;
  width: 100%;
  border: 1px solid gray;
  display: block;
}
/** Class Styles **/
.show-case{
  background-image: url("images/header.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 20vh;
  display: flex;
  flex-direction: column;
  border-radius: 1%;
  opacity: .90;
}


.show-case h1{
  text-shadow: 2px 2px 3px rgba(255,255,255, .75);
  margin: auto;
  color: #f53;
  font-size: 3rem;
}
.about-us{
  font-size: 1.25rem;
  text-align: center;
  padding: 1em 1.25em;
}

.about-us img{
  shape-outside: circle();
  shape-margin: .75em;
  border-radius: 50%;
  width: 50%;
  height: auto;
  float: right;
}

.menu{
  text-align: center;

}

.menu h2{
  font-size: 3em;
}
.menu ul{
  list-style: none;
  padding: 0;
}

.list h3{
  padding: .5em 1em;
  font-size: 2em;
}


.find-us{
  text-align: center;
}
.find-us{
  font-size: 3rem;
}
.find-us h3{
  font-size: 2rem;
}

.find-us address{
  font-size: 1.5rem;
}

.contact-us{
  text-align: center;

}

.contact-us ul{
  padding: 0;
  list-style: none;
}

.contact-us ul:last-of-type{
  display: inline-flex;
  justify-content: center;
}
.contact-us li{
  padding: 0 .25em;
}

/** Special Styles **/
.list li{
  display: none;
}

.visible li{
  display: block!important;
}

#map {
 height: 400px;
 width: 100%;
 box-shadow: 0 0px 1px  rgba(0,0,0, .5);
}

.list h3{
  border: 1px solid gray;
  border-radius: 1%;
}
nav li:nth-child(odd){
  background-color: tomato;
  color: #fff;
}
nav li:nth-child(even){
  background-color: #fff;
  color: tomato;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

/** Media Queries **/
